@charset "UTF-8";

body,html {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}



html {
    font-size: 100px;
}
@media screen and (min-width: 320px) {
    html {
        font-size: 75px;
    }
}
/*修改第三处媒体查询*/
@media screen and (min-width: 360px){
    html{
        font-size: 85px;
    }
}
@media screen and (min-width: 375px){
    html{
        font-size: 100px;
    }
}
@media screen and (min-width: 768px) {
    html{
        font-size: 140px;
    }
}




/*//整体布局*/
#share-pic {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}

.layout {
    width: 100%;
    background: #EC4346 url("../images-wt/bg.jpg");
    max-width: 750px;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    background-size: 100% 100%;
    position: relative;
}

.layout header {
    width: 100%;
    padding-top: .1rem;
}

.layout header img {
    /*1.13 修改一处*/
    width: 98%;
    margin: 0 auto;
}

.layout .contenttext {
    padding: 0.05rem 8.5%;
}
.contenttext p {
    padding: 0.05rem 0.05rem;
    text-align: center;
    font-size: 0.16rem;
    background-color: #DC3336;
}
.contenttext span{
    color: #fff;
}
.container {
    width: 100%;
    height: 100%;


}

.container .videobox {
    width: 83%;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}

.container video {
    width: 100%;
    position: relative;
    z-index: 0;
}

.container .videoimg {
    width: 80%;
    margin: 0 auto;
    display: none;

}

.formbox {
    padding: 0 10% 0.1rem 10%;
}
.formbox p:first-child {
    padding: 0.05rem 0;
    text-align: center;
    font-size: 0.16rem;

}
.formbox input {
    /*修改rem值*/
    height: 0.4rem;
    width: 100%;
    font-size:0.18rem;
    border-radius: 16px;
    text-align: center;
    font-family: "microsoft yahei";
}

.formbox input[type=submit] {
    /*修改rem值*/
    margin-top: 0.1rem;
    background-color: #F5E827;
    color: #9E1100;

}

.formbox .fufei{
    color:#fff;
    /*margin-top: 0.2rem;*/
    text-decoration: underline;
    font-size: 0.18rem;
    font-weight: 400;
    display: block;
    text-align: center;

}

.container .introduce {
    padding: 0.1rem 10%;
    padding-bottom: 0.5rem;
}

.introduce a {
    font-size: 0.18rem;
    color: #0A0101;
    width: 49%;
    display: inline-block;
    text-decoration: underline;
}

.introduce a:nth-child(2) {
    text-align: right;
}

.message {
    line-height: 1.5;
    position: absolute;
    top:5px;
    right:2px;
    background-color: rgba(0,0,0,0.6);
    padding: 2px 10px;
    border-radius: 18px;
}
.introduce .intro-number {
    text-align: center;
    padding-top: .25rem;
    font-size:.16rem;
    color:#fff;
    font-weight: 400;
}
/*提示信息*/

.message p:first-child{
    text-align: center;
    color: #fff;
    font-size: .14rem;
}
/*遮罩层mask1开始*/
.mask1 {
    width: 100%;
    max-width: 750px;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    display: none;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
}

.mask1 .cha {
    color: #F5E827;
    font-size: 28px;
    position: absolute;
    top: 2%;
    right: 10%;
}

.mask1 .title {
    width: 100%;
    margin: 6% 0 0 0;
}

.mask1 .title img {
    margin: 0 auto;
    width: 38%;
}

/*文字部分开始*/
.mask1 .content {
    padding: 0 5%;
    padding-bottom: 0.5rem;
    color: #fff;
    font-size: .14rem;
    line-height: 1.8;
}
.mask1 .content .toptext {
   margin-bottom: 5px;
}

.yellow {
    color: #f5c520;
}
.huanhang {
    padding-top: 0.2rem;
}
.fufei{
    display: block;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.mask1 .content p.big {
    margin-top: 5px;
    font-weight: 700;
}
.mask1 .content p:last-child{
    text-align: center;
    margin-top: 0.2rem;
}
.mask1 a {
    color: #f5c520;
}

/*mask2开始*/
.mask2 {
    width: 100%;
    max-width: 750px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /*display: none;*/
    display: block;
    position: absolute;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.9);
}

/*mask2 的叉*/
.mask2 .cha {
    color: #F5E827;
    font-size: 0.30rem;
    position: absolute;
    z-index: 999;
    top: 10%;
    right: 18%;
}

.mask2 .text {
    top:0.5rem;
    position: relative;
    /*修改二处*/
    width: 100%;
    height: 5rem;
    /*background: url("../images-wt/tanchuang.png") no-repeat center center;*/
    background-size: 100% 100%;


}
.text .imgbox{
    width: 100%;
    z-index: 1;
    position: absolute;
}
.text .imgbox img{
    width: 96%;
    margin: 0 auto;
}
.text .lasttext{
    position: absolute;
    z-index: 9999;
    display: block;
    /*color: #ffec61;*/
    font-size: 0.16rem;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
.text .lasttext .download {
    color:#fff;
}
.mask2 .artical {
    z-index:2;
    width: 100%;
    font-size: 0.16rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top:28%;

}

.mask2 .artical a:nth-child(1) {
    color: #fff;
}


.mask2 .artical > p:nth-child(2) {
    /*修改字体大小 */
    font-size: 0.22rem;
    color: #ffec61;
    margin-top: 0.3rem;
}


.mask2 .artical > p:nth-child(3) {
    margin-top: 0.6rem;
    font-size: 0.18rem;
}

.mask2 .artical > p:nth-child(4) {
    /*margin-top: 0.2rem;*/
}
.mask2 .boldfive{
    font-size: 0.18rem;
    color: #ffec61;
}


/*mask3开始*/
.mask3 {
    width: 100%;
    width: 100%;
    max-width: 750px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.9);
}

/*mask3 的叉*/
.mask3 .cha {
    color: #F5E827;
    font-size: 19px;
    z-index: 1999;
    position: absolute;
    top: 20%;
    right: 18%;
    visibility: visible;
}

.mask3 .text {
    width: 100%;
    height: 80%;
    background: url("../images-wt/tanchuang.png") no-repeat center center;
    background-size: contain;

}

.mask3 .artical {
    text-align: center;
    padding-top: 53%;
    color: #fff;
}

.mask3 .artical > p:nth-child(1) {
    font-size: 0.22rem;
    color: #ffec61;
    padding-bottom: 0.22rem;
}

.mask3 .artical a {
    color: #fff;
}
